.kr-box {
    position: fixed;
    left: 0px;
    opacity: 0.65;
    white-space: nowrap;
    z-index: 9999;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
.kr-box-active {
    opacity: 1.0;
}
.kr-box button {
    width: 42px;
    height: 42px;
    margin: 2px;
    padding: 0px;
    outline: none;
}
.kr-box .title{
    padding: 0 9px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.kr-box .buttons {
    margin-top: 4px;
}
.kr-box button.expand {
    -webkit-border-radius: 50%;
    border-radius: 50;
}
.kr-box button.shink {
    -webkit-border-radius: 50%;
    border-radius: 50;
}
.kr-box button.setting {
    -webkit-border-radius: 50%;
    border-radius: 50;
    float: right;
}