.nr-sentence-highlight-light{
    background: #B5C687 !important;
    color:#0d3b55 !important;
    z-index: 1000;
}

.nr-word-highlight-light{
    background-color:#0d3b55 !important;
    color:#E7ECEE !important;
    z-index: 1000;
}

.nr-sentence-highlight-dark{
    background: #0d3b55 !important;
    color:#E7ECEE !important;
    z-index: 1000;
}

.nr-word-highlight-dark{
    background-color:#EFD369 !important;
    color:#393E3E !important;
    z-index: 1000;
}

.nr-sentence-highlight-ice{
    background: #F1F3F4 !important;
    color:#373D3E !important;
    z-index: 1000;
}

.nr-word-highlight-ice{
    background-color:#0F7895 !important;
    color:#FFFFFF !important;
    z-index: 1000;
}

.nr-sentence-highlight-warm{
    background: #ebdcb2!important;
    color:#605140!important;
    z-index: 1000;
}

.nr-word-highlight-warm{
    background-color:#563e20 !important;
    color:#E6CCB5!important;
    z-index: 1000;
}